dash==2.6.1
pandas==1.1.5
pandas-datareader==0.10.0
dash-bootstrap-components==1.2.1
matplotlib==3.2.2
yfinance==0.1.77
mpld3==0.5.8
numpy==1.21.6
statsmodels==0.11.0
scipy==1.4.1
seaborn==0.11.1
gunicorn
